/*Styling for the entire body of the html*/
body{
	margin: 0 auto;
}

/*Styling for the header container itself. The header contians the navigation links and the brand logo*/
header{
	height: 100px;
	background-color: #ebebeb;
	display: grid;
	grid-template-columns:45% 55%;
    padding: 16px 50px 16px 50px;
}

/*Styling for the Logo in the header*/
.logoImg{
	width: 70px;
	display: grid;
	grid-template-columns: 45% 55%;
}

/*Styling for the vertical line just before the Logo image*/
.logoImg hr{
	width: 0;
  	background: black;
  	border: 1px solid black;
	margin: 0 auto;
}

/*Styling for the text beside the line in the logo*/
.logoImg h1{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 600;
	margin: 0 auto;
}

/*Styling for the navigation bar's background*/
.nav{
	height: 30%;
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
	background-color: #9e9e9e;
	padding: 20px 20px;
	font-size: 20px;
	display:flex;
	flex-direction: row;
	margin: 0 auto;
	align-items: center;
}

/*Styling for the link texts in the navigation bar*/
nav a{
	padding: 6px 10px;
	font-family: 'PT Sans', serif;
	color: rgba(0, 0, 0, 0.6);
	text-decoration: none solid rgb(255, 255, 255);
	text-align: center;
}

/*Styling for the link to book a residence*/
#bookNow{
	border: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
	color: black;
}

/*Styling for the current page*/
#current{
    color: black;
	font-weight: bold;
}

/*Styling for the home page banner Image*/
.HomePageBanner img{
	height: 650px;
	width: 100%;
	object-fit: cover;
}

/*Styling for the footer container*/
footer{
	width: 80%;
	margin: 0 auto;
	font-size: 16px;
}

/*Styling for the line immediately above the footer*/
footer hr{
	margin-top: 25px;
	border: 1px solid black;
}

/*Styling for the footer details under the line*/
.footerDetails{
	display: grid;
	grid-template-columns: 60% 35%;
	font-family: 'PT Sans', serif;
}

/*Styling for the footer division containing the social media icons*/
.socialMedia{
	display: flex;
	margin: 0 auto;
}

/*Styling for the social media icons*/
.icon{
	width: 42px;
	height: 42px;
	padding-right: 10px;
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
}

/*Styling for the contact us button*/
.socialMedia button{
	width: 112px;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 16px;
}

/*Styling for the trademark text under the contact us place*/
.footerDetails h3{
	font-size: 15px;
}

/*Styling for the mailing list subscription form segment*/
.mailingList{
	margin: 0 auto;
} 

/*Styling for the mailing list input box and subscription button*/
#mailingListForm input, .mailingList button{
	width: 300px;
	height: 35px;
	padding: 0 10px;
	font-size: 16px;
	margin-bottom: 15px;
}

/*Styling for the mailing list subscription button*/
.mailingList button{
	text-align: center;
	width: 100%;
	background-color: black;
	color: white;
}

/*Styling for the booking dropdown*/
.Booking{
	/*border: 1px solid black;*/
	width: 300px;
	background-color: rgba(235,235,235,0.7);
	padding: 20px 10px 20px 20px;
	font-family: 'PT Sans', serif;
	color: #000000;
	position: absolute;
	left: 5vw;
	top: 18vh;
}

/*Styling for booking title*/
.Booking h4{
	font-weight: lighter;
	font-size: 24px;
}

/*Styling for the title of each form input.*/
.Booking form h5{
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: 600;
	margin: 0 auto;
}

/*Styling for the input box in the booking form*/
.Booking form input{
	width: 275px;
	height: 40px;
	background-color: #d1d1d1;
	font-family: 'PT Sans', serif;
	font-size: 13px;
	color: #000000;
	font-weight: 400;
	margin: 10px 30px 20px 0;
	padding-left: 10px;
	/*padding-right: 10px;*/
}

/*Styling for the date picker*/
input[type="date"]::-webkit-inner-spin-button {
	display: none;
}

/*Styling for the date picker icon*/
input[type="date"]::-webkit-calendar-picker-indicator {
	color: rgba(0, 0, 0, 0);
	background: url(https://img.icons8.com/metro/26/000000/calendar-11.png)no-repeat;
	width: 20px;
	height: 30px;
	border-width: thin;
	position: relative;
	transform: translateY(20%);
}

/*Styling for the book stay div which contains the number of kids and adults respectively*/
.bookStay{
	display: flex;
}

/*Styling for the input tab in the book stay bar*/
.bookStay label input{
	width: 116px;
	height: 40px;
}

/*Styling for the booking button*/
.Booking button{
	width: 112px;
	height: 31px;
	border-radius: 5px;
	background-color: #4d4d4d;
	margin: 0 auto;
	font-size: 16px;
	color: #ffffff;
}

/*Styling for the product banner on the products page*/
.productBanner{
	width: 90%;
	display: flex;
	font-family: 'PT Sans', serif;
	margin: 0 auto 15px;
}

/*Styling for the title per page*/
.pageTitle{
	width: 300px;
	height: 220px;
	padding: 0 10px;
	background-color: #2e2e2e;
	font-size: 20px;
	color: #ffffff;
	margin-right: 40px;
}

/*Styling for the banner image per page*/
.pageImg img{
	width: 842px;
	height: 220px;
	object-fit: cover;
	margin: 0 auto;
}

/*Styling for the available products page*/
.ourProducts{
	width: 85%;
	margin: 0 auto;
	font-family: 'PT Sans', serif;
}

/*Styling for the h1 elements in the products segment.*/
.ourProducts h1{
	font-size: 32px;
	color: #666666;
	font-weight: 400;
	margin: 5px;
}

/*Styling for the p elements in the products segment.*/
.ourProducts p{
	font-size: 20px;
	color: #454444;
	font-weight: 400;
	text-align: center;
	margin: 15px auto;
}

.ourProducts1{
	display: grid;
	grid-template-columns: 72% 28%;
	/*border: 1px solid black;*/
	margin: 0 auto;
}

.ourProducts1 button{
	height: 35px;
	border-radius: 5px;
	background-color: #ababab;
	margin-left: 15px;
	position: relative;
	top: 15%;
	font-size: 12px;
	color: #000000;
	line-height: 18px;
	text-align: center;
	font-family: 'PT Sans', serif;
}

/* Styling for the values icons */
.core_values{
	width: 95%;
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
	align-items: center;
}

/* Styling for the value descriptions */
.core_values p{
	width: 90%;
	margin: 0 auto;
	padding-bottom: 25px;
}

/* Styling for the procuct card */
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
	font-family: 'PT Sans', serif;
}

/* Styling for the price tag*/
.price {
	color: #606060;
	font-size: 25px;
}
/* Styling for the card image */
.card img{
	width: 300px;
	height: 200px;
	object-fit: cover;
	padding-bottom: 20px;
}

.card h1{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 20px;

}

.card p{
	font-family: 'Lato', sans-serif;
	/*font-style: italic;*/
}

/*Styling for the purchase button*/
.card button {
	border: none;
	/*outline: 0;*/
	padding: 12px;
	color: white;
	background-color: #606060;
	text-align: center;
	/*cursor: pointer;*/
	width: 100%;
	font-size: 18px;
}

/*On-hover styling for the button*/
.card button:hover {
	opacity: 0.7;
}

/* Styling for the gallery products*/
.gallery_products, .gallery_products .core_values{
	padding-top: 30px;
	padding-bottom: 30px;
}

/* Styling for the navidation bar at the buttom of the page*/
.pagination {
	display: flex;
	width: 40%;
	margin: 0 auto;
	padding-bottom: 30px;
}

/* Styling for the navidation bar at the buttom of the page*/
.pagination a {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	margin: 0 auto;
}

/* Styling for the navidation bar at the buttom of the page*/
.pagination a.active {
	background-color: #B22222;
	color: white;
}

/* Styling for the navidation bar at the buttom of the page*/
.pagination a:hover:not(.active) {background-color: #ddd;}