/*Style elements in the header container to be displayed in the same line*/
header.container {
    margin: 0;
    display: grid;
    padding: 20px 20px 10px 20px;
    grid-template-columns: 60% 40%;
}


/* Style ALU Logo.*/
#logo{
    height: auto;
    width: auto;
    max-width: 120px;
    max-height: 120px;
}

/* Allign Navigation bar */
nav{
    text-align: right;
}

/* Style Navigation links*/
nav a{
    text-decoration: none;
    padding: 5px 10px 0px 10px;
    color: #000000;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

/*Style navigator for current page (Turns current page text to red)*/
#current{
    color: red;
}

/*Website's banner style.*/
.banner_img{
    position: relative;
    color: white;
    font-size: 34px;
    text-align: center;
}

/* Styling the banner's image */
.banner_img img{
    object-fit: cover;
    height: 350px; 
    width: 100%;
}

/* Styling for the about page banner */
#about_banner img{
    height: 250px;
}


/* Styling for the about page banner text */
#about_banner h1{
    font-size: 70px;
}

/* Styling the banner's text */
.banner_img h1{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Style segment for available stock */
.Available_stock{
    /*position: relative;*/ 
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

/* Styling for Product class used to highlight product category eg Italian Soda Byte */
.Products{
    background-color: rgb(186, 186, 226);
    width: 90%;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}

/*CSS Styling for product descriptions*/
.desc{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 30px;
}

/* Styling all the products in the double item category */
.double_Products{
    width: 90%;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%; 
    align-items: center;
    padding-bottom: 20px;
    margin: 0 auto;
    
}

/* Styling all the products in the thriple category */
.thriple_Products{
    width: 90%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 30px;
}


/* Styling product images in the double product category */
.product_image{
    height: auto;
    width: auto;
    max-width: 600px;
    max-height: 400px;
    padding-top: 20px;
    padding-bottom: 25px;
}

.product_image2{
    height: 180px;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 25px;
}

/* Styling names of products with labels*/
.product_name{
    text-align: center;
    font-weight: bold;
    padding-top: 20px;

}

/*Styling for all product description*/
.p_description{
    font-weight: lighter;
}

/* Styling the triple products read more link */
.double_Products a{
    text-decoration: none;
    /*border: 2px solid gray;*/
    padding: 6px 6px 6px 6px;
}

/* Styling for the button */
.double_Products button{
    height: 30px;
    background-color: white;
}


/* visited link */
.double_Products a:visited {
  color: green;
}

/* unvisited link */
.double_Products a:link{
    color: black;
}

/* mouse over link */
.double_Products a:hover {
  color: hotpink;
}

/* selected link */
.double_Products a:active {
  color: blue;
}

/* adding ectra padding to the thriple product's description */
.p_description, .thriple_Products p, .double_Products p{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 12px;
}   

/* Styling for container Image*/
.container_image {
    position: relative;
    transition: 2s ease;
}

/* Styling for overlying box under the container image*/
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; 
    background-color: rgb(173,216,230);
    height: 180px;
    width: 300px;
    opacity: 0;
    transition: 2s ease;
     
}

/* Styling for gallary page link on the overlying box */
.text_fade {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background: rgb(105, 105, 105) linear-gradient(gray, white);
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

/* styling the order segment*/
#Order{
    width: 90%;
    display: grid;
    align-items: center;
    grid-template-columns: 40% 60%;
    margin: 0 auto;
}

/* styling the order image*/
#Order img{
    width: 250px;
    height: 250px;
}

/* Styling the footer container*/
footer.container{
    margin: 0;
    display: grid;
    padding: 20px 20px 10px 20px;
    grid-template-columns: 60% 40%;
    padding: 15px 10px 15px 20px;
    background-color: #4C5B75;
    text-decoration: none;
    color: #FFFFFF;
    text-align: left;
    font-size: small;
}

/* Styling footer navigators to be left aligned and white in color*/
footer nav{
    text-align: left;
}
footer nav a{
    color: #FFFFFF;
}

/* Form background Styles */
.Form{
    position: relative;
    height: 400px;
    width: 100%;
    background-color: #eff0f8;
    text-align: center;
    
}

/*Styling for text in form*/
.Form h1{
    padding: 30px 0px 40px 0px;
    font-size: large;
    font-weight: bold;
    color: #000000;
}

/*Styling font labels*/
.Form label{
    font-weight: bold;
    padding-right: 20px;
}

/*Syling for the messaging box*/
#Message {
    position: relative;
    bottom: 30px; 
    padding-right: 5px;
}

/*Styling for the text area*/
input, textarea {
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    width: 500px;
    width : 50%;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* Styling for the About us page */
/* Our story segment */
.our_story{
    text-align: center;
    font-family: 'proxima-nova', sans-serif;
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
    color: #4D5656;
    font-weight: lighter;
    align-content: center;
    justify-content: center;
    padding-bottom: 30px;
}

.our_story h2{
    font-size: 50px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-bottom: 10px;
}

.our_story h3{
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
}

.red-border{
    width: 60%;
    border-bottom: 1px solid #d2282e;
    height: 16px;
    margin: 0 auto;
    padding-top: 10px;

}

.our_story p{
    padding-top: 25px;
    color: black;
    font-family: 'Lato', sans-serif;
}

.Value_proposition, .team_members{  
    padding-bottom: 30px;
}

.core_values{
    width: 90%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin: 0 auto;
    /*align-content: center;*/
    text-align: center;
    justify-content: center;
    align-items: center;
}

.core_values p{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.Value_proposition button{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    line-height: 30px;
    background: rgb(105, 105, 105) linear-gradient(gray, white);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 550;
    color: #B22222;
}

.value_icon{
    max-height: 100px;
    max-width: 200px;
    padding-top: 20px;
    padding-bottom: 25px;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    width: 90%;
    margin: 0 auto;
    color: #4D5656;
    font-family: 'proxima-nova', sans-serif;
    font-size: 35px;
    padding: 15px 0px 15px 0px;

}

.strike > span {
    position: relative;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: red;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.team_members img{
    border-radius: 50%;
}

.team_members .member{
    font-size: 20px;
    word-spacing: 5px;
}

.team_members .member h1{
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 15px;
}